<VirtualHost *:80>
    #  ServerAdmin admin@domain.com
     DocumentRoot /var/www/html/magento2-2.3/
     ServerName localhost
    #  ServerAlias www.domain.com

     <Directory /var/www/html/magento2-2.3/>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
     </Directory>

     ErrorLog /var/log/magento.error.log
     CustomLog /var/log/magento.access.log combined
</VirtualHost>